version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: [ "5432:5432" ]
  redis:
    image: redis:7
    ports: [ "6379:6379" ]
  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports: [ "5672:5672", "15672:15672" ]
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes: [ "minio:/data" ]
    ports: [ "9000:9000", "9001:9001" ]
  create-bucket:
    image: minio/mc
    depends_on: [minio]
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      mc mb -p local/${S3_BUCKET} || true;
      mc anonymous set download local/${S3_BUCKET};
      "
  api:
    build: ../services/api
    env_file: .env
    depends_on: [postgres, redis, rabbitmq, minio, create-bucket]
    ports: [ "${API_PORT}:8000" ]
  worker:
    build: ../services/worker
    env_file: .env
    depends_on: [rabbitmq, minio]
volumes:
  minio: {}
