openapi: 3.0.3
info:
  title: Chat Enterprise API
  version: 0.1.0
  description: |
    OpenAPI spec for a Slack-like real-time chat platform.
    Scope covers CMPE-272/273 requirements: auth (SSO + 2FA), channels/DM, messaging,
    threads, reactions, file sharing & search, presence/typing, admin moderation,
    observability/health, and BI hooks.
servers:
  - url: https://api.local.chat.dev/v1
    description: Local/dev server
  - url: https://api.chat.example.com/v1
    description: Staging/production server
tags:
  - name: auth
    description: Authentication, SSO, and 2FA endpoints.
  - name: users
    description: User profile and identity endpoints.
  - name: channels
    description: Channel CRUD and membership management.
  - name: dms
    description: Direct message conversations between users.
  - name: messages
    description: Post, list, thread replies, and reactions.
  - name: files
    description: File upload, metadata, and delivery.
  - name: search
    description: Search across messages and channels.
  - name: presence
    description: Online status and typing indicators.
  - name: admin
    description: Administrative actions such as user suspension.
  - name: ops
    description: Operations and observability endpoints (health, metrics).

paths:
  /healthz:
    get:
      operationId: getHealthz
      tags: [ops]
      summary: Liveness probe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Healthz'
        '400':
          description: Bad request

components:
  schemas:
    Healthz:
      type: object
      properties:
        status: { type: string, example: ok }
        timestamp: { type: string, format: date-time }
